<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Merci de vous connecter pour accéder au contenu</p>
    <a href="login">Connection</a>
  </body>
</html> -->
