<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <div class="form-login">
            <form action="/login" method="POST">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <button type="submit">Login</button>
            </form>
            <p>Vous n'avez pas encore de compte?
            <a href="signIn" type="button">Rejoignez nous.</a> </p>

            
        </div>
    </body>
</html>
